Django==4.2.30
djangorestframework>=3.14,<3.15
djangorestframework-simplejwt>=5.3,<5.4
python-decouple>=3.8,<4.0
psycopg2-binary>=2.9,<3.0
django-cors-headers>=4.0,<5.0
django-filter>=23.0,<26.0
drf-spectacular>=0.27,<1.0
reportlab>=4.0
whitenoise>=6.6,<7.0
